<% @collection_presenter = Hyrax::CollectionPresenter.new(@presenter.collection, current_ability) %>

<div class="row extended-banner extended-banner-title-linked hyc-banner-row">
  <% unless @collection_presenter.banner_file.blank? %>
    <div class="col-md-12 hyc-banner-container" style="background-image:url(<%= @collection_presenter.banner_file %>)">
      <header class="hyc-banner container-fluid">
  <% else %>
    <div class="col-md-12 hyc-generic-container">
      <header class="hyc-generic container-fluid">
  <% end %>

      <div class="col-md-6">
        <div class="hyc-title">
          <h1><a href="<%= collection_path(@collection_presenter.id) %>"><%= @collection_presenter.title.first %></a></h1>
          <%# @collection_presenter.collection_type_badge %>
          <%# @collection_presenter.permission_badge %>
          <% if @collection_presenter.description.any? %>
            <p><%= @collection_presenter.description.first %></p>
          <% end %>
          <%= render 'hyrax/collections/collection_logo', collection_presenter: @collection_presenter %>
        </div>
      </div>
    </header>
  </div>
</div>
