<% @collection_presenter = Hyrax::CollectionPresenter.new(@presenter.collection, current_ability) %>
<%= link_to collection_path(@collection_presenter.id) do %>
  <div class="row extended-banner extended-banner-linked hyc-banner-row">
    <div class="col-md-12">

      <% unless @collection_presenter.banner_file.blank? %>
          <header class="hyc-banner" style="background-image:url(<%= @collection_presenter.banner_file %>)">
      <% else %>
          <header class="hyc-generic">
      <% end %>

      <div class="col-md-6">
        <div class="hyc-title">
          <h1><%= @collection_presenter.title.first %></h1>
          <%# @collection_presenter.collection_type_badge %>
          <%# @collection_presenter.permission_badge %>
        </div>
        <% if @presenter.description.any? %>
          <p><%= @presenter.description.first %></p>
        <% end %>
        <%= render 'hyrax/collections/collection_logo', collection_presenter: @collection_presenter %>
      </div>

      </header>
    </div>
  </div>
<% end %>
