<footer role="contentinfo">

  <div class=" bg-mahogany bottom-nav">
    <div class="grid thirds text-center">
      <div class="grid-item">
        <%= link_to 'https://ulib.iupui.edu' do %>
          <%= image_tag 'iupui-library.png', class: 'lockup'  %>
        <% end %>
      </div>
      <div class="grid-item">
        <%= link_to 'https://libraries.indiana.edu' do %>
          <%= image_tag 'iu-libraries.png', class: 'lockup'  %>
        <% end  %>
      </div>
      <div class="grid-item">
        <%= link_to 'https://uits.iu.edu' do %>
          <%= image_tag 'uits.png', class: 'lockup' %>
        <% end %>
      </div>
    </div>
    <% if request.path.include?('about') %>
    <div class="container-fluid small text-center">
      <p><%= link_to(t('hyrax.product_name'), 'https://github.com/IU-Libraries-Joint-Development/essi') %>
        <%= link_to(ENV['SOURCE_COMMIT'].to_s.truncate(9), "https://github.com/IU-Libraries-Joint-Development/essi/tree/#{ENV['SOURCE_COMMIT']}") if ENV['SOURCE_COMMIT'] %>
      </p>
      <p>
        <%= t('hyrax.footer.service_html') %>
        <%= link_to "Hyrax v#{Hyrax::VERSION}", "https://github.com/samvera/hyrax/tree/v#{Hyrax::VERSION}" %>
      </p>
    </div>
    <%end %>
    <div class="container-fluid container-fluid-thin small text-center">
      <p>
        <%= link_to 'Harmful Language Statement', 'https://libraries.indiana.edu/harmful-language-statement' %>
      </p>
    </div>
  </div>



  <footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
      <div class="row pad">

          <p class="signature">
              <a href="https://www.iu.edu" class="signature-link signature-img"><img src="//assets.iu.edu/brand/3.2.x/iu-sig-formal.svg" alt="Indiana University" /></a>
          </p>

          <p class="copyright">
          <span class="line-break"><a href="https://accessibility.iu.edu/assistance" id="accessibility-link" title="Having trouble accessing this web page content? Please visit this page for assistance.">Accessibility</a> | <a href="/privacy" id="privacy-policy-link">Privacy Notice</a></span>
          <span class="hide-on-mobile"> | </span>
          <a href="https://www.iu.edu/copyright/index.html">Copyright</a> &#169; 2020 <span class="line-break-small">The Trustees of <a href="https://www.iu.edu/" itemprop="url"><span itemprop="name">Indiana University</span></a></span>
          </p>
      </div>
  </footer>
</footer>
