<div class="col-md-6">
  <div class="metadata">
    <dl class="dl-horizontal">
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
          <dt><%= render_index_field_label document, field: field_name %></dt>
          <% field_value = doc_presenter.field_value(Blacklight::Configuration::Field.new(field: field_name)) %>          
          <% if field_value.match(/(<([^>]+)>)/i) %>
            <dd><%= field_value %></dd>
          <% else %>
            <dd><%= truncate field_value, length:160 %></dd>
          <% end %>
      <% end %>
    <% end %>
    </dl>
  </div>
</div>
<% if(doc_presenter.field_value(Blacklight::Configuration::Field.new(field: 'has_model_ssim')) == 'Collection') %>
    <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
<div class="col-md-4">
  <div class="collection-counts-wrapper">
    <div class="collection-counts-item">
      <span><%= collection_presenter.total_viewable_collections %></span>Collections
    </div>
    <div class="collection-counts-item">
      <span><%= collection_presenter.total_viewable_works %></span>Works
    </div>
  </div>
</div>
<% end %>
