<div class="col-md-<%= document.collection? ? 7 : 10 %>">
  <div class="metadata">
    <dl class="dl-horizontal">
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
        <% field_label = render_index_field_label document, field: field_name %>
        <% field_value = doc_presenter.field_value(Blacklight::Configuration::Field.new(field: field_name)) %>
        <% if field.itemprop&.to_sym.in?(doc_presenter.class.try(:custom_rendered_properties) || []) %>
          <% custom_renderer = "#{field.itemprop.titleize.gsub(' ','')}AttributeRenderer".constantize %>
          <% field_value = custom_renderer.new(field_value, { label: field_label }).value_html.html_safe %>
        <% end %>
        <dt><%= field_label %></dt>
        <% if field_value.match(/(<([^>]+)>)/i) %>
          <dd><%= field_value %></dd>
        <% else %>
          <dd><%= truncate field_value, length:160 %></dd>
        <% end %>
      <% end %>
    <% end %>
    </dl>
  </div>
</div>
<% if document.collection? %>
<% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
<div class="col-md-3">
  <div class="collection-counts-wrapper">
    <div class="collection-counts-item">
      <span><%= collection_presenter.total_viewable_collections %></span>Collections
    </div>
    <div class="collection-counts-item">
      <span><%= collection_presenter.total_viewable_works %></span>Works
    </div>
  </div>
</div>
<% end %>
<div class="col-md-12">
  <%= CampusCollectionBreadcrumbRenderer.new(document.campus_collection_breadcrumbs, main_app).value_html %>
</div>
